@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ff-p-md {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.ff-p-semibold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.testimonial:nth-child(2){
    background-image: url(/build/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 10%;
}